$dark: #343a40;
$primary: #c50076;
$fadeDuration: 0.5s;
$nv-dark-blue: rgb(110, 134, 167);
$nv-light-blue: rgb(182, 206, 227);
$nv-sky-gradient: linear-gradient(to bottom right, $nv-dark-blue, $nv-light-blue);

@import "bootstrap";

@media print {
  .resume-print {
    font-size: 75%;
    width: 80%;
  }

  .pagebreak-after:first-child {
    display: block;
    page-break-after: avoid;
  }

  .pagebreak-after {
    display: block;
    page-break-after: always;
  }
}

.nv-responsive-label {
  display: none;
}

@media (min-width: 576px) {
  .nv-responsive-label {
    display: inline;
  }

  .nv-responsive-icon {
    width: 1.5em;
    height: 1.5em;
  }
}

.pointer-cursor {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nv-outlined-link {
  @extend .nav-link;
  @extend .px-1;
  @extend .py-0;
  @extend .text-nowrap;
  @extend .fw-light;
}


.nv-nav-link {
  color: $dark;
  @extend .nv-outlined-link;
}

// Only apply hover style in browsers that support hover
// See https://css-tricks.com/annoying-mobile-double-tap-link-issue
@media (hover) {
  .nv-outlined-link:hover {
    outline: 1px solid $primary;
    color: $primary;
    animation: fadeIn $fadeDuration;
    -webkit-animation: fadeIn $fadeDuration;
    -moz-animation: fadeIn $fadeDuration;
    -o-animation: fadeIn $fadeDuration;
    -ms-animation: fadeIn $fadeDuration;
  }

  .nv-nav-link:hover {
    outline: 1px solid $light;
    color: $light;
    animation: fadeIn $fadeDuration;
    -webkit-animation: fadeIn $fadeDuration;
    -moz-animation: fadeIn $fadeDuration;
    -o-animation: fadeIn $fadeDuration;
    -ms-animation: fadeIn $fadeDuration;
  }
}

.nv-nav-link.active {
  outline: 1px solid $light;
  color: $light;
  animation: fadeIn $fadeDuration;
  -webkit-animation: fadeIn $fadeDuration;
  -moz-animation: fadeIn $fadeDuration;
  -o-animation: fadeIn $fadeDuration;
  -ms-animation: fadeIn $fadeDuration;
}

#root-container {
  height: 100vh;
}

.nv-cloud-bg {
  background: url("/bg-cloud.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: $nv-sky-gradient;
  background-color: $nv-light-blue;
  background-attachment: fixed;
  background-position: center;
  background-origin: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-print-color-adjust: economy;
  print-color-adjust: economy;
}