$dark: #2f3439;
$light: #f0f8fb;
$primary: #cc007b;
$secondary: #606e8a;
$fadeDuration: 0.5s;
$nv-blue-100: #dcefff;
$nv-blue-200: #9db9e0;
$nv-blue-800: #2c3544;
$nv-blue-900: #151a20;
$nv-gradient-light: linear-gradient(to bottom right, $nv-blue-200, $nv-blue-100);
$nv-gradient-dark: linear-gradient(to bottom right, $nv-blue-900, $nv-blue-800);

@import "bootstrap";

@media screen {
  .resume-only-print {
    display: none;
  }
}

@media print {
  .resume-print {
    font-size: 75%;
    width: 80%;
  }

  .avoid-page-break {
    page-break-after: avoid;
  }
}

.nv-responsive-label {
  display: none;
}

@media (min-width: 576px) {
  .nv-responsive-label {
    display: inline;
  }

  .nv-responsive-icon {
    width: 1.5em;
    height: 1.5em;
  }
}

.pointer-cursor {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nv-outlined-link {
  @extend .nav-link;
  @extend .px-1;
  @extend .py-0;
  @extend .text-nowrap;
  @extend .fw-light;
}


.nv-nav-link {
  color: $dark;
  @extend .nv-outlined-link;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nv-blur-bg {
  backdrop-filter: blur(4px);
}

// Only apply hover style in browsers that support hover
// See https://css-tricks.com/annoying-mobile-double-tap-link-issue
@media (hover) {
  .nv-outlined-link:hover {
    outline: 1px solid $primary;
    color: $primary;
    animation: fadeIn $fadeDuration;
    -webkit-animation: fadeIn $fadeDuration;
    -moz-animation: fadeIn $fadeDuration;
    -o-animation: fadeIn $fadeDuration;
    -ms-animation: fadeIn $fadeDuration;
  }

  .nv-nav-link:hover {
    outline: 1px solid $light;
    color: $light;
    animation: fadeIn $fadeDuration;
    -webkit-animation: fadeIn $fadeDuration;
    -moz-animation: fadeIn $fadeDuration;
    -o-animation: fadeIn $fadeDuration;
    -ms-animation: fadeIn $fadeDuration;
  }
}

.nv-nav-link.active {
  outline: 1px solid $light;
  color: $light;
  animation: fadeIn $fadeDuration;
  -webkit-animation: fadeIn $fadeDuration;
  -moz-animation: fadeIn $fadeDuration;
  -o-animation: fadeIn $fadeDuration;
  -ms-animation: fadeIn $fadeDuration;
}

#root-container {
  height: 100vh;
}

.nv-project-card {
  padding: 1rem;
  min-width: 200px;
  max-width: 410px;
}

@include color-mode(light) {
  --bs-body-bg: #{$nv-gradient-light};

  // .nv-cloud-bg {
  //   background: center no-repeat url("/bg-cloud.jpg");
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-origin: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}

@include color-mode(dark) {
  --bs-body-bg: #{$nv-gradient-dark};

  p {
    color: $light
  }

  .nv-nav-link {
    color: $light;
    @extend .nv-outlined-link;
  }

}

// TODO: Using @property, try animating the color toggling: https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864
body {
  background: var(--bs-body-bg);
  transition: background 5s;
  background-attachment: fixed;
  background-position: center;
  background-origin: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-print-color-adjust: economy;
  print-color-adjust: economy;
}