// Override any default variables before the import
// @import url(https://fonts.googleapis.com/css?family=Work+Sans|Inconsolata|Didact+Gothic|Montserrat|Libre+Franklin);


// $theme-colors: (
//   "primary": #c3ebd8,
//   "secondary": #c3ebd8,
//   "danger": #ce4e4e,
//   "white": #f5f4f0,
//   "light": #f5f5e7,
// );

// $font-family-sans-serif:   "Didact Gothic",;
// $font-family-sans-serif: "Inconsolata",;
// $font-family-sans-serif:   "Libre Franklin",;
// $font-family-sans-serif: "Montserrat",;
// $font-family-sans-serif: "Work Sans",;

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap.scss';

// $bg-cloud-img: image("../images/cloud.jpg");
$images-dir: "../images";
$bg-cloud-img: url('#{$images-dir}/cloud.jpg');
$dark-blue: rgb(110, 134, 167);
$main-bg-color: $dark-blue;
$light-blue: rgb(182, 206, 227);
$sky-gradient: linear-gradient(to bottom right, $dark-blue, $light-blue);
:export {
  mainBgColor: $main-bg-color;
  skyGradient: $sky-gradient;
}

.init-background {
  // background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cloud.jpg') no-repeat center center fixed;
  background-color: $main-bg-color;
  background-attachment: fixed;
  background-position: center;
  background-origin: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body {
  @extend .init-background;
}

// From https://gist.github.com/jareware/4738651
@each $name in 'cloud' {
  .bg-#{$name} {
      background: url('../images/#{$name}.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
}



// Landing page
$fadeDuration: 4s;
.fade-into div {
  -webkit-animation: fadein $fadeDuration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein $fadeDuration; /* Firefox < 16 */
      -ms-animation: fadein $fadeDuration; /* Internet Explorer */
       -o-animation: fadein $fadeDuration; /* Opera < 12.1 */
          animation: fadein $fadeDuration;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.headline_main_role {
  // text-shadow: 0px 0px 20px #8fa6c2;
  @extend .text-white
}

// Menu styling
.menu-link {
  color: $dark;
  outline: 0.12rem solid transparent;
  @extend .p-1
}

.menu-link:hover {
  color: $light;
  outline-color: $light;
  text-decoration: none;
  @extend .menu-link
}

.menu-link-active {
  color: $light;
  @extend .menu-link
}

.menu-link-active:hover {
  text-decoration: none;
  @extend .menu-link-active
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

$blur-intensity: 3px;

.blur {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur($blur-intensity);
  -moz-filter: blur($blur-intensity);
  -ms-filter: blur($blur-intensity);
  -o-filter: blur($blur-intensity);
  filter: blur($blur-intensity);
  z-index: 2
  }

.bg-animated {
  animation: fade 15s infinite;
  animation-direction: forward;
}

@keyframes fade {
  0% {
    background-color: $secondary;
  }
  25% {
    background-color: $primary;
  }
  50% {
    background-color: $danger;
  }
  100% {
    background-color: $secondary;
  }
}
// @keyframes fade {
//   0% {
//     background-color: $secondary;
//   }
//   50% {
//     background-color: $white;
//   }
//   100% {
//     background-color: $secondary;
//   }
// }
.bg-animated-primary {
  animation: fadePrimary 5s infinite;
  animation-direction: forward;
}

@keyframes fadePrimary {
  0% {
    background-color: $danger;
  }
  50% {
    background-color: $primary;
  }
  100% {
    background-color: $danger;
  }
}
.animated-primary-inverse {
  animation: fadePrimaryInv 5s infinite;
  animation-direction: forward;
}

@keyframes fadePrimaryInv {
  0% {
    background-color: $primary;
  }
  50% {
    background-color: $white;
  }
  100% {
    background-color: $primary;
  }
}
